span, input{
  width: 100%;
}

.bottom-space{
  margin-bottom: 6px;
}

.spacing-span{
  margin: 30px 0;
}

.card{
  display: block;
  align-items: center;
}

.div-card{
  display: inline-flex;
  flex-wrap: wrap;
  width: 100%;
}

.navbar{
  background-color: black;
}

.card-border{
  border-radius: 5px;
}

.receita{
  background: lightgreen;
}

.despesa{
  background: lightcoral;
}

/* .p-component, .p-card{
  width: 100%;
} */

/* .tarefa{
  display: block;
  margin: auto 0;
} */

.conteudo-tarefa{
  font-size: 22px;
  text-align: center;
  width: 100%;
}

.adicionar-botao{
  display: flex;
  justify-content: flex-end;
  margin: 12px 0;
}

.carousel-fit-image{
  object-fit: cover;
  overflow: hidden;
}

.caroulse-image{
  max-height: 500px;
}
