span,
input {
  width: 100%;
}

.bottom-space {
  margin-bottom: 6px;
}

.spacing-span {
  margin: 30px 0;
}

.card {
  display: block;
  align-items: center;
}

.close {
  position: absolute;
  right: 32px;
  top: 15px;
  width: 15px;
  height: 20px;
  opacity: 0.3;
}

.close:hover {
  opacity: 1;
  cursor: pointer;
}

.close:before, .close:after {
  position: absolute;
  left: 15px;
  content: ' ';
  height: 33px;
  width: 2px;
  background-color: #333;
}

.close:before {
  transform: rotate(45deg);
}

.close:after {
  transform: rotate(-45deg);
}

.div-card {
  display: inline-flex;
  flex-wrap: wrap;
  width: 100%;
}

.card-border {
  border-radius: 5px;
  width: 45%;
  padding: 10px;
  margin: 5px;
}

.red-button {
  display: inline-flex;
  background-color: #f44336; /* Green */
  border: none;
  border-radius: 6px;
  color: white;
  padding: 5px 12px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.home-title {
  margin: 20px 0;
}

.bg-sketch{
  background-color: black !important;
}

.home-image {
  width: 250px;
  height: 250px;
}

.content {
  display: flex;
  margin: 15px 0;
}

.content img {
  margin-right: 10px;
  display: block;
}

.content h3,
.content p {
  margin: 0;
}

.receita {
  background: lightgreen;
}

.despesa {
  background: lightcoral;
}

.increase-size:hover{
  transform: scale(1.1);
}

.conteudo-tarefa {
  padding-top: 20px;
  font-size: 22px;
  text-align: center;
  width: 100%;
}

.second-card-image{
  min-height: 260px;
}

.card-image-content{
  object-fit: cover;
}

.adicionar-botao{
  display: flex;
  justify-content: flex-end;
  margin: 12px 0;
}

.carousel-fit-image {
  object-fit: cover;
  overflow: hidden;
}

.caroulse-image {
  max-height: 500px;
}

.data-tipo {
  display: flex;
}

.tipo {
  padding-left: 100px;
}

.text-data {
  display: block;
}
