<main>
  <p-tabView (onChange)="atualizarGrafico()">
    <p-tabPanel header="Início">
      <main role="main">
        <section class="jumbotron text-center">
          <div class="container">
            <h1>UniManager</h1>
            <p class="lead text-muted">
              Para quem procura na simplicidade de um design <em>elegante</em>,
              um gerenciador de receitas e despesas.
            </p>
          </div>
        </section>

        <div class="album py-5 bg-light">
          <div class="container">
            <div class="row">
              <div class="col-md-4">
                <div class="increase-size card mb-4 shadow-sm">
                  <img
                    src="http://s2.glbimg.com/h5FyWV0XqemQlNAWQAH4YoIr7jw=/e.glbimg.com/og/ed/f/original/2015/09/10/crowdfunding.jpg"
                    class="card-img-top card-image-content"
                    alt="Imagem com uma lâmpada no meio e cifrões ao redor."
                  />
                  <div class="card-body">
                    <p class="card-text">
                      Aqui é o lugar certo para você administrar seu dinheiro.
                    </p>
                    <div
                      class="d-flex justify-content-between align-items-center"
                    ></div>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="card increase-size mb-4 shadow-sm">
                  <img
                    class="card-img-top card-image-content second-card-image"
                    src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSDPWCCxCfSZnI70XJexRK_eoTKEdiiE25vyw&usqp=CAU"
                    alt="Uma pessoa sentada frente uma mesa com as mãos na cabeça."
                  />
                  <div class="card-body">
                    <p class="card-text">
                      Sem dor de cabeça ao gerenciar as receitas e despesas do
                      mês.
                    </p>
                    <div
                      class="d-flex justify-content-between align-items-center"
                    ></div>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="card mb-4 increase-size shadow-sm">
                  <img
                    class="card-img-top card-image-content"
                    src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcStXqgzgJ8KWMvBNOOc1RLPn4NxMOLrLCx2Jw&usqp=CAU"
                    alt="Uma mão segurando uma nota de dinheiro."
                  />
                  <div class="card-body">
                    <p class="card-text">
                      Acesse nossas guias para mais informações.
                    </p>
                    <div
                      class="d-flex justify-content-between align-items-center"
                    ></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </main>
    </p-tabPanel>
    <p-tabPanel header="Receitas e Despesas">
      <p-card header="Extrato" subheader="Seu extrato">
        <form #extratoForm="ngForm" (ngSubmit)="adicionarDado(extratoForm)">
          <span class="p-float-label spacing-span">
            <input
              class="bottom-space"
              type="text"
              id="float-input-desc"
              pInputText
              name="nome"
              ngModel
            />
            <label for="float-inpu-desc">Qual título quer adicionar?</label>
          </span>

          <span class="p-float-label spacing-span">
            <input
              class="bottom-space"
              type="text"
              id="float-input-desc"
              pInputText
              name="dado"
              ngModel
            />
            <label for="float-inpu-desc">Qual descrição quer adicionar?</label>
          </span>

          <span class="p-float-label ui-inputgroup-addon spacing-span">
            <input
              type="number"
              prefix="R$"
              id="float-input-value"
              pInputText
              name="dadoValue"
              ngModel
            />
            <label for="float-input-value">Qual o valor monetário?</label>
          </span>

          <span class="spacing-span data-tipo">
            <div>
              <label class="text-data">Insira uma data: </label>
              <input
                style="width: 160px"
                type="date"
                id="myDate"
                pInputText
                name="data"
                autofocus="autofocus"
                ngModel
              />
            </div>
            <div class="tipo">
              <label class="text-data">Escolha o tipo: </label>
              <p-selectButton
                [options]="opcoes"
                optionLabel="rotulo"
                optionValue="valor"
                name="tipo"
                ngModel
              >
              </p-selectButton>
            </div>
          </span>

          <div class="adicionar-botao">
            <p-button
              label="Adicionar"
              type="submit"
              icon="pi pi-plus-circle"
            ></p-button>
          </div>
        </form>
        <div class="div-card">
          <div
            [ngClass]="{ receita: dado.tipo, despesa: !dado.tipo }"
            class="card-border"
            *ngFor="let dado of extratos"
          >
              <p-card
                [ngClass]="{ receita: dado.tipo, despesa: !dado.tipo }"
                class="card bg-sketch"
              >
                <div class="conteudo-tarefa">
                  <a class="close" (click)="excluir(dado)"></a>
                  <!-- classe close - botão de apagar -->
                  <p>{{ dado.nome }}</p>
                  <p>{{ dado.descricao }}</p>
                  <p>{{ dado.valor }}</p>
                </div>
              </p-card>
            </div>
          </div>
      </p-card>
    </p-tabPanel>
    <p-tabPanel header="Gráfico">
      <p-chart type="bar" [options]="options" [data]="dados"></p-chart>
    </p-tabPanel>
  </p-tabView>
</main>
